* {
	box-sizing: border-box;
}

input[type=text], input[type=number], input[type=datetime-local], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

input[type=submit], button {
	background-color: #3EDBF0;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
	margin-top: 6px;
}

label {
	padding: 12px 12px 12px 0;
	display: inline-block;
}

input[type=submit]:hover, button:hover {
	background-color: #C0FEFC;
}

.container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	width: 80%;
	margin: 30px auto;
}

.col-10 {
	float: left;
	width: 25%;
	margin-top: 6px;
}

.col-15 {
	float: left;
	width: 25%;
	margin-top: 6px;
}

.col-25 {
	float: left;
	width: 25%;
	margin-top: 6px;
}

.col-50 {
	float: left;
	width: 50%;
	margin-top: 6px;
}

.col-75 {
	float: right;
	width: 75%;
	margin-top: 6px;
}

.hidden {
	display: none;
}

@media screen and (max-width: 600px) {
	.col-25, .col-50, .col-75, input[type=submit], button {
	  width: 100%;
	  margin-top: 0;
	}
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input { 
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #2196F3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}